body {
    background-color: black;
}

.start {
	background: #000;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9000;
}
.start p {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
	z-index: 9999;
	width: 280px;
    font-family: 'Noto Serif JP', serif;
    color: rgb(255, 255, 228);
    text-align: center;
    font-size: 5vw;

}