/* styles.css */

body {
    margin: 0;
    font-family: 'Noto Sans JP', 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  header {
    background-color: #ebfb5e;
    padding: 1rem 0;
    text-align: center;
  }

    /* ヘッダーの上下幅を狭くする */
    header {
        padding: 0.3rem 0;
    }

    header h1 {
        font-size: 1.2rem;
        letter-spacing: 0.4rem;
    }
  
  h1, h2 {
    margin-bottom: 1.5rem;
  }
  
  main {
    padding: 2rem;
  }
  
  .portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
  }
  
  .portfolio-item {
    text-align: center;
    position: relative; 
    overflow: hidden; /
  }
  
  .portfolio-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0; 
    object-fit: cover; 
    transition: opacity 0.3s ease;
  }
  
  footer {
    background-color: #f5f5f5;
    padding: 1.5rem 0;
    text-align: center;
  }

  .portfolio-item:hover img {
    opacity: 0.2; 
  }
  
  .portfolio-item h3 {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  opacity: 0;
  transition: opacity 0.3s ease; 
  color: #050505c9;
  font-size: 1.2rem;

}

.portfolio-item:hover h3 {
  opacity: 1; 
}
