/* styles.css */

body {
    margin: 0;
    font-family: 'Noto Sans JP', 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  header {
    background-color: #ebfb5e;
    padding: 1rem 0;
    text-align: center;
  }
  
  h1, h2 {
    margin-bottom: 1.5rem;
  }
  
  main {
    padding: 2rem;
  }
  
  .portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
  }
  
  .portfolio-item {
    text-align: center;
    position: relative; /* この行を追加 */
    overflow: hidden; /*  この行を追加 */
  }
  
  .portfolio-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0; /* この行を変更 */
    object-fit: cover; /* この行を追加 */
    transition: opacity 0.3s ease;
  }
  
  footer {
    background-color: #f5f5f5;
    padding: 1.5rem 0;
    text-align: center;
  }

  .portfolio-item:hover img {
    opacity: 0.2; /* この行を追加 */
  }
  
  .portfolio-item h3 {
  position: absolute; /* この行を追加 */
  top: 43%; /* この行を追加 */
  left: 50%; /* この行を追加 */
  transform: translate(-50%, -50%); /* この行を追加 */
  opacity: 0; /* この行を追加 */
  transition: opacity 0.3s ease; /* この行を追加 */
  color: #050505c9;

}

.portfolio-item:hover h3 {
  opacity: 1; /* この行を追加 */
}
